# intermediate_1_ca.cnf

[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C = IL
ST = Tel-Aviv
L = Tel-Aviv
O = OneCAOrg
OU = Security
CN = www.one-ca-org.com

[req_ext]
basicConstraints = critical, CA:TRUE
